body {
    background-color: lightgray;
    font-family: 'Della Respira', serif;
    color: ivory;
}

.container {
    max-width: 1170px;
    margin: 0 auto;
}

nav {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    height: 300px;
    /* color: palegreen; */
}

.headshot {
    height: 100%;
    width: auto;
    border-image: black;
}

.userDetails {
    background-color: dimgray;
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 0px 15px;
    flex-grow: 2;
}

.userDetails h1 {
    margin: 0;
    font-size: 28px;
}

.userDetails span {
    margin: 0;
    display: inline-block;
}

.education {
    background-color: lightpink;
}

.projects {
    background-color: lightblue;
}

.experience {
    background-color: lightseagreen;
}

.contact {
    background-color: lightcoral;
}

.request {
    background-color: lightskyblue;
}

.education, 
.projects, 
.experience,
.contact,
.request {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

.education ion-icon,
.projects ion-icon,
.experience ion-icon,
.contact ion-icon,
.request ion-icon {
    font-size: 50px;
}

.educationDetails,
.projectsDetails,
.experienceDetails,
.contactDetails,
.requestDetails {
    color: dimgray;
    display: flex;
    justify-content: center;
    align-items: center;
}

.educationDetails ion-icon,
.projectsDetails ion-icon,
.experienceDetails ion-icon,
.contactDetails ion-icon,
.requestDetails ion-icon {
    font-size: 30px;
}

.contactForm {
    color: dimgray;
    display: flex;
    justify-content: center;
    align-items: center;
}